<%= form_for(diagnosis_code) do |f| %>
  <% if diagnosis_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diagnosis_code.errors.count, "error") %> prohibited this diagnosis_code from being saved:</h2>

      <ul>
      <% diagnosis_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :short_desc %>
    <%= f.text_field :short_desc %>
  </div>

  <div class="field">
    <%= f.label :long_desc %>
    <%= f.text_field :long_desc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
